In [1]:
import pandas as pd
import geopandas as gpd
import h3pandas
import matplotlib.pyplot as plt
import pydeck as pdk
from pydeck.types import String
from keplergl import KeplerGl
import pandas_profiling as pp
from h3 import h3

In [2]:
URL_HCHO = 'https://api.v2.emissions-api.org/api/v2/methane/geo.json?country=IND&begin=2021-01-01&end=2021-11-11&limit=10000000&offset=0'

In [3]:
bharat_hcho = gpd.read_file(URL_HCHO)
bharat_hcho.head()

                          timestamp        value                   geometry
0  2021-01-02T08:20:13.712000+00:00  1935.911011  POINT (84.45195 25.00075)
1  2021-01-02T08:20:09.512000+00:00  1924.194824  POINT (84.20844 24.64302)
2  2021-01-02T08:20:25.472000+00:00  1930.083496  POINT (83.78289 25.34387)
3  2021-01-02T08:20:22.112000+00:00  1927.322998  POINT (83.54106 24.98673)
4  2021-01-02T08:20:16.232000+00:00  1912.988037  POINT (85.15534 25.36219)

In [4]:
bharat_hcho.shape

(29752, 3)

In [5]:
bharat_hcho['lng'] = bharat_hcho.geometry.x
bharat_hcho['lat'] = bharat_hcho.geometry.y
bharat_hcho.head()

,timestamp,value,geometry,lng,lat
0,2021-01-02T08:20:13.712000+00:00,1935.911011,POINT (84.45195 25.00075),84.451946,25.000754
1,2021-01-02T08:20:09.512000+00:00,1924.194824,POINT (84.20844 24.64302),84.208445,24.643024
2,2021-01-02T08:20:25.472000+00:00,1930.083496,POINT (83.78289 25.34387),83.782890,25.343869
3,2021-01-02T08:20:22.112000+00:00,1927.322998,POINT (83.54106 24.98673),83.541059,24.986733
4,2021-01-02T08:20:16.232000+00:00,1912.988037,POINT (85.15534 25.36219),85.155342,25.362193

In [6]:
bharat_hcho.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 29752 entries, 0 to 29751
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  29752 non-null  object
 1   value      29752 non-null  float64
 2   geometry   29752 non-null  geometry
 3   lng        29752 non-null  float64
 4   lat        29752 non-null  float64
dtypes: float64(3), geometry(1), object(1)
memory usage: 1.1+ MB

In [7]:
bharat_hcho['timestamp'] = pd.to_datetime(bharat_hcho['timestamp'])

In [8]:
h3_level = 4

def lat_lng_to_h3(row):
    return h3.geo_to_h3(row.geometry.y, row.geometry.x, h3_level)

bharat_hcho['h3'] = bharat_hcho.apply(lat_lng_to_h3, axis=1)
bharat_hcho

,timestamp,value,geometry,lng,lat,h3
0,2021-01-02 08:20:13.712000+00:00,1935.911011,POINT (84.45195 25.00075),84.451946,25.000754,843c123ffffffff
1,2021-01-02 08:20:09.512000+00:00,1924.194824,POINT (84.20844 24.64302),84.208445,24.643024,843c127ffffffff
2,2021-01-02 08:20:25.472000+00:00,1930.083496,POINT (83.78289 25.34387),83.782890,25.343869,843c129ffffffff
3,2021-01-02 08:20:22.112000+00:00,1927.322998,POINT (83.54106 24.98673),83.541059,24.986733,843c12dffffffff
4,2021-01-02 08:20:16.232000+00:00,1912.988037,POINT (85.15534 25.36219),85.155342,25.362193,843c131ffffffff
...,...,...,...,...,...,...
29747,2021-11-10 07:30:10.224000+00:00,1940.050903,POINT (92.90386 25.58627),92.903855,25.586271,843cee1ffffffff
29748,2021-11-10 07:30:10.224000+00:00,1945.976929,POINT (93.37831 25.56505),93.378307,25.565047,843cee3ffffffff
29749,2021-11-10 07:30:07.704000+00:00,1936.777344,POINT (93.11398 25.21755),93.113981,25.217554,843cee7ffffffff
29750,2021-11-10 07:30:16.944000+00:00,1931.193604,POINT (92.69327 25.95322),92.693275,25.953221,843cee9ffffffff
29751,2021-11-10 07:30:13.584000+00:00,1939.008423,POINT (93.16817 25.93291),93.168171,25.932911,843ceebffffffff

In [10]:
map_1 = KeplerGl()

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

In [11]:
map_1.add_data(data=bharat_hcho, name="HCHO")

In [12]:
map_1

KeplerGl(data={'HCHO': {'index': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21…